In [62]:
#import all modules here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [74]:
#Eblow shows k=18 (15-20) when not normalized
#Elbow shows k=14 when normalized

df = pd.read_csv('heart-disease.data',header=None, names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','label'])
features = df.loc[:,df.columns!='label']
label = df['label']
features.replace(r'?',np.nan,inplace=True)
features.fillna(features.median(),inplace=True)
features_std = StandardScaler().fit_transform(features)
features = pd.DataFrame(features_std)
features.columns = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']
features.head()

/home/abhishek/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)
/home/abhishek/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/abhishek/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype float64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/home/abhishek/anaconda3/lib/python3.7/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype float64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.948726,0.686202,-2.251775,0.757525,-0.264900,2.394438,1.016684,0.017197,-0.696631,1.087338,2.274579,-0.711131,0.660004
1,1.392002,0.686202,0.877985,1.611220,0.760415,-0.417635,1.016684,-1.821905,1.435481,0.397182,0.649113,2.504881,-0.890238
2,1.392002,0.686202,0.877985,-0.665300,-0.342283,-0.417635,1.016684,-0.902354,1.435481,1.346147,0.649113,1.432877,1.176752
3,-1.932564,0.686202,-0.165268,-0.096170,0.063974,-0.417635,-0.996749,1.637359,-0.696631,2.122573,2.274579,-0.711131,-0.890238
4,-1.489288,-1.457296,-1.208521,-0.096170,-0.825922,-0.417635,1.016684,0.980537,-0.696631,0.310912,-0.976352,-0.711131,-0.890238

In [71]:
%matplotlib qt  
def plot_Elbow(features):
    sse = {}
    for no_of_cluster in range(2,40):
        kmeans = KMeans(n_clusters=no_of_cluster).fit(features)
        sse[no_of_cluster] = kmeans.inertia_
    plt.figure()
    plt.plot(list(sse.keys()), list(sse.values()))
    plt.xlabel("Number of cluster")
    plt.ylabel("SSE")
    plt.show()

In [89]:
#Preprocessing PCA
mean_vec = np.mean(features_std, axis = 0)
cor_mat = np.corrcoef(features_std.T)
eig_vals, eig_vecs = np.linalg.eig(cor_mat)
eig_vals_per = [eig_vals[i]/sum(eig_vals) * 100 for i in range(len(eig_vals))]
eig_vals_per.sort(reverse=True)
print(eig_vals_per)

[23.68727927816149, 12.307137893654364, 9.531353887120995, 8.434037953867962, 7.583033109159154, 6.793044008594708, 6.651687867869367, 5.983700345667653, 5.288469597961417, 4.334828550374337, 3.526032640853536, 3.1575976913020334, 2.7217971754129775]

In [92]:
sum_eigen_per = [sum(eig_vals_per[:i]) for i in range(len(eig_vals_per))]
cum_sum_eigen = np.cumsum(sum_eigen_per)
plt.figure()
plt.bar(sum_eigen_per,range(len(eig_vals_per)))

In [95]:
with plt.style.context('seaborn-whitegrid'):
    plt.figure(figsize=(6, 4))

    plt.bar(range(len(eig_vals_per)), sum_eigen_per, alpha=0.5, align='center',
            label='individual explained variance')
    plt.step(range(len(eig_vals_per)), cum_sum_eigen, where='mid',
             label='cumulative explained variance')
    plt.ylabel('Explained variance ratio')
    plt.xlabel('Principal components')
    plt.legend(loc='best')
    plt.tight_layout()